.table-container {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 8px;
}
.watchlist-heading {
  font-size: 1.125rem;
  text-align: center;
}
.custom-list {
  list-style-type: none;
  padding: 0;
  width: 75%;
  margin: 15px auto 0 auto;
}
.custom-list-full {
  margin-top: 25px;
  width: 100%;
  padding: 0;
}
/* .news .list-item .item-content {
  justify-content: space-between;
} */

.list-item {
  border-top: 1px solid #dddddd;
  margin-bottom: 10px;
  padding: 8px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.item-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.item-field {
}
.symbol {
  display: flex;
  flex: 2;
  flex-direction: row;
}
.field-value-symbol {
  text-align: center;
  width: 47px;
  height: 20px;
  border-radius: 4px;
}
.symbol .field-value {
  flex: 1;
  display: flex;
  margin-left: 10px;
  /*   justify-content: flex-end; */
}
.field-value-icon {
  display: flex;
}
.price,
.price-change,
.percent-change {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.no-change,
.percent-change {
  padding: 3px;
}
.positive {
  color: #00ff00;
}
.negative {
  color: rgb(217, 48, 37);
}
.percent-change {
  border-radius: 4px;
  padding: 6px;
}

.positive-percent {
  background-color: green; /* Green background for positive percent change */
  color: #00ff00;
  border-radius: 8px;
}

.negative-percent {
  background-color: #660000; /* Red background for negative percent change */
  color: rgb(217, 48, 37);
  border-radius: 8px;
}
