.cardcontent {
  padding: 10px !important;
}
/* Markets */
.compareMarkets {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff; /* Set the color to white for contrast with a black background */
}

.divider {
  height: 5vh;
  background-color: rgba(
    189,
    193,
    198,
    0.87
  ); /* Adjust the color to match the existing style */
  margin: 10px 16px; /* Adjust the margin as needed */
  overflow: hidden;
  border-left: 2px solid rgba(189, 193, 198, 0.87); /* Match the border color */
}

.linkToArticle {
  color: rgb(24, 90, 188);
  /*   color: rgb(24, 90, 188); */
  text-decoration: none;
  font-weight: 600;
  margin-left: 4px;
}

.linkToArticle:hover {
  color: rgba(28, 116, 233, 0.8);
}
