.cardcontent {
  padding: 10px !important;
}
/* Markets */
.compareMarkets {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

.divider {
  height: 5vh;
  background-color: rgba(189, 193, 198, 0.87);
  margin: 10px 16px;
  overflow: hidden;
  border-left: 2px solid rgba(189, 193, 198, 0.87);
}

.linkToArticle {
  color: rgb(24, 90, 188);
  /*   color: rgb(24, 90, 188); */
  text-decoration: none;
  font-weight: 600;
  margin-left: 4px;
}

.linkToArticle:hover {
  color: rgba(28, 116, 233, 0.8);
}
