.sidebarItem {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.icon {
  width: 50px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  color: rgb(0, 255, 255);
}

.label {
  flex-grow: 1;
}

body {
  background-color: #262626;
  color: #ffffff;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  background: linear-gradient(to right, #262626, #1a1a1a);
  transition: background-color 0.3s ease;
}
.content-wrapper {
  padding: 20px; /* Add padding for spacing */
  display: flex;
  flex-direction: column; /* Stack children vertically */
}
.main-content-container {
  display: flex;
  flex: 1; /* Make the main content container grow to fill the available space vertically */
}

.main-content-left {
  flex: 2;
}

.main-content-right {
  flex: 1;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .main-content-container {
    flex-direction: column; /* Stack columns on small screens */
  }

  .main-content-left,
  .main-content-right {
    flex: 1; /* Take full width on small screens */
  }
}

/* Additional styles for better appearance, adjust as needed */
.content-wrapper {
  max-width: 1200px; /* Set a maximum width for the container */
  margin: 0 auto; /* Center the container horizontally */
}

.main-content-container {
  padding: 5px; /* Add padding for spacing */
}

.main-content-left,
.main-content-right {
  background-color: #262626; /* Add background color for better separation */
  padding: 10px; /* Add padding to the columns */
}
.market-trends-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px; /* Adjust padding as needed */
}

.market-trends-header {
  margin-bottom: 15px; /* Adjust margin as needed */
}

.market-trends-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px; /* Adjust gap as needed */
  flex-wrap: wrap;
}
.auth {
  visibility: hidden;
}
.button {
  text-size-adjust: 100%;
  /*   width: 5%; */
  line-height: inherit;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 16px; /* You can adjust the font size */
  letter-spacing: 0.25px;
  font-weight: 500;
  text-transform: none;
  white-space: nowrap;
  cursor: pointer;
  color: var(--gm-fillbutton-ink-color, #fff);
  -webkit-tap-highlight-color: transparent;
  box-sizing: content-box;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  background: #1a73e8;
  border: 1px solid transparent;
  text-decoration: none;
  transition: background-color 0.3s ease; /* Add a smooth transition for hover effect */
}

.button:hover {
  background-color: #1565c0; /* Adjust the hover background color as needed */
}

.secondary {
  text-size-adjust: 100%;
  line-height: inherit;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 16px; /* You can adjust the font size */
  letter-spacing: 0.25px;
  font-weight: 500;
  text-transform: none;
  white-space: nowrap;
  cursor: pointer;
  color: #000; /* Black text color for the secondary button */
  -webkit-tap-highlight-color: transparent;
  box-sizing: content-box;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  background: #fff; /* White background for the secondary button */
  border: 1px solid transparent;
  border-radius: 24px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease; /* Add a smooth transition for hover effect */
}

.secondary:hover {
  background-color: #f0f0f0; /* Adjust the hover background color as needed */
  color: #000; /* Adjust the hover text color as needed */
}

.full-width {
  width: 100%;
}
.secondary {
  cursor: "pointer";
  margin-right: "8px";
  border-radius: "12px";
  padding: "2px 8px";
  font-size: "0.875rem";
  font-weight: 500;
  line-height: "1.25rem";
  letter-spacing: "0.0178571429em";
  font-family: '"Google Sans", Roboto, Arial, sans-serif';
  transition: "background-color 0.3s ease";
}
.secondary .active {
  color: white;
  background-color: inherit;
}

/* .secondary {
  background: #fff;
  color: #1a73e8;
  border: 1px solid #1a73e8;
}
 */
.large {
  padding: 12px 26px; /* You can adjust the padding for a larger button */
}

.button-outline {
  background: transparent;
  border: 1px solid #1a73e8;
  color: #1a73e8;
}

.button-outline:hover {
  background-color: #1a73e8;
  color: #fff;
}
.cardcontent {
  padding: 10px !important;
}
/* Markets */
.compareMarkets {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff; /* Set the color to white for contrast with a black background */
}

.divider {
  height: 5vh;
  background-color: rgba(
    189,
    193,
    198,
    0.87
  ); /* Adjust the color to match the existing style */
  margin: 10px 16px; /* Adjust the margin as needed */
  overflow: hidden;
  border-left: 2px solid rgba(189, 193, 198, 0.87); /* Match the border color */
}

.linkToArticle {
  color: rgb(24, 90, 188);
  text-decoration: none;
  font-weight: 600;
  margin-left: 4px;
}

.linkToArticle:hover {
  color: rgba(28, 116, 233, 0.8);
}
.chip {
  color: white !important;
}

/*main layout */

.header {
  background-color: #2d2d2d;
  padding: 20px;
  border-radius: 12px 12px 0 0; /* Rounded top corners for the header */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff !important;
}
